<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global.css">
    <title>Epic Task - Tarefas</title>
</head>
<body>
    <h1>Epic Task</h1>
    <h2 th:text="#{task.todo}"></h2>

    <a href="tasks/new" class="nes-btn is-primary" th:text="#{task.create}"></a>

    <div class="nes-container is-rounded is-dark" th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>

    <section class="grid">
        <div th:each="task : ${tasks}" class="nes-container with-title">
            <p class="title" th:text="${task.title}"></p>
            <p th:text="${task.description}"></p>
            <a href="#" class="nes-badge is-icon">
                <span class="is-warning"><i class="nes-icon coin is-small"></i></span>
                <span class="is-primary" th:text="${task.score}"></span>
              </a>
            <progress class="nes-progress is-success" th:value="${task.status}" max="100"></progress>

            <details>
                <summary th:text="#{actions}"></summary>
                <button type="button" class="nes-btn is-primary" th:text="#{take}"></button>
                <button type="button" class="nes-btn is-warning" th:text="#{edit}"></button>
                <form th:action="${'/tasks/' + task.id}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="nes-btn is-error" th:text="#{delete}"></button>

                </form>

            </details>

            
        </div>
    </section>
    

</body>
</html>